[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
mysql-connector-python = "*"
short-url = "*"
uvicorn = "*"
requests = "*"
pytest = "*"
sqlalchemy = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
